<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Мой сайт</title>
  </head>
  <body>
    <blockquote class="blockquote text-center">
        <p><u><em><h1>МЕЖКОМНАТНЫЕ ДВЕРИ</h1></em></u></p>
    </blockquote>
    <style>
        .gallery5 { overflow: hidden; width: 1420px;}
        .gallery5 .ramka { float: left; margin-right: 10px; margin-bottom: 10px;}
        .gallery5 img { width: 500px; height: 300px; object-fit: cover; }
    </style>
    <div class="gallery5">
    <div class="card-group">
        <div class="card">
          <img src="http://zavod-akma.ru/assets/cache_image/assets/cat/konstrukcii/mayatniki/mayatnik-uliana_0x325_dfa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">МАЯТНИКОВАЯ КОНСТРУКЦИЯ ИЗ СТЕКЛА «ЮЛИАНА»</h5>
            <p class="card-text">Маятниковая конструкция из стекла «Юлиана» - это модель, выполненная из прозрачного 10 мм стекла, где на распашные открывающиеся полотна нанесена гравировка. Изделие изготавливается на заказ в срок от 25 до 30 дней после проведения замера.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Перейти на страницу</a>
          </div>
        </div>
        <div class="card">
          <img src="http://zavod-akma.ru/assets/cache_image/assets/cat/dush/cat/uliana-v-nishu2_0x345_135.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">СТЕКЛЯННАЯ ДУШЕВАЯ КАБИНА ЮЛИНА</h5>
            <p class="card-text"> Готовые двери состоят из двух типов материала: закалённого стекла 8 или 10 мм толщины и фурнитуры, которую заказчик может выбрать по цвету, типу открывания.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Перейти на страницу</a>
          </div>
        </div>
        <div class="card">
          <img src="http://zavod-akma.ru/assets/cache_image/assets/cat/peregorodki/cat/ofisnie-peregorodki_0x345_135.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">СМАРТ ПЕРЕГОРОДКИ ИЗ СТЕКЛА</h5>
            <p class="card-text">Смарт перегородки – это стеклянная конструкция из закаленного стекла триплекс</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Перейти на страницу</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>